#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #new-button {
  background-image: url(../icons/new-button.svg);
}
#main-toolbar #clear-button {
  background-image: url(../images/clear.svg);
}

#main-toolbar #undo-button {
  background-image: url(../images/undo.svg);
}
